aiohttp
async-timeout
attrs
certifi
chardet
click
dateutils
discord
discord.py
Flask
idna
itsdangerous
Jinja2
keyboard
MarkupSafe
multidict
mysql-connector
overloading
python-dateutil
pytz
six
SQLAlchemy
termcolor
urllib3
Werkzeug
yarl
setuptools
pyfiglet
tabulate